<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="image.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="nav-body">
        <ul class="list-col-left">
            <li><a class="atribute" href="/">Home</a></li>
            <li><a class="atribute" href="./Components/Avatar/Avatar.html">Documentation</a></li>
            <ul class="list-col-right">
                <li><a class="atribute" href="#"><i class="fa fa-github"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </ul>
    </nav>
    <div class="container">
        <div class="sideBar">
            <h1 class="heading">components</h1>
            <ul class="CompoItems">
                <li class="componentlist"><a href="/Components/Avatar/Avatar.html">Avatar</a></li>
                <li class="componentlist"><a href="/Components/Badge/Badge.html">Badge</a></li>
                <li class="componentlist"><a href="/Components/Alert/Alert.html">Alert</a></li>
                <li class="componentlist"><a href="/Components/buttons/Button.html">Button</a></li>
                <li class="componentlist"><a href="/Components/Card/Card.html">Card</a></li>
                <li class="componentlist"><a href="/Components/Image/image.html">Image</a></li>
                <li class="componentlist"><a href="/Components/Input/Input.html">Input</a></li>
                <li class="componentlist"><a href="/Components/Text-Utility/Text_utility.html">Text Utilities</a></li>
                <li class="componentlist"><a href="/Components/List/List.html">List</a></li>
                <li class="componentlist"><a href="/Components/Navigation/Navigation.html">Navigation</a></li>
                <li class="componentlist"><a href="/Components/Snackbar/Snackbar.html">Snackbar</a></li>
                <li class="componentlist"><a href="/Components/model/model.html">Model</a></li>
                <li class="componentlist"><a href="/Components/slider/slider.html">Slider</a></li>
                <li class="componentlist"><a href="/Components/grid/grid.html">Grid</a></li>
                <li class="componentlist"><a href="/Components/rating/rating.html">Rating</a></li>

            </ul>
        </div>
        <div class="discriptionBar">
            <h1 class="margin2rem">image</h1>
            <p class="para1">Having responsive images is important because it helps us 
                deliver optimal file size, the right image for the right screen size, improves loading 
                time. Having various versions of your image is important for creating a responsive image.
            </p>
            <hr>
            <h3 class="margin2rem">Responsive Image</h3>
            <div class="itemsBlock margin2rem">
                <img class="Responsive-image" src="/images/serhiy-hipskyy-xMHPm-CwFl0-unsplash.jpg">
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522itemsBlock%2520margin2rem%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522Responsive-image%2522%2520src%253D%2522%252Fimages%252FResponsiveImage.jpg%2522%253E%250A%253C%252Fdiv%253E"
                style="width: 723px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h3 class="margin2rem">Round Images</h3>
            <p class="para1">You can also use round imsges from here.</p>
            <div class="itemsBlock margin2rem Round-image">
                <img class="Round-img1" src="/images/Round-responsive-img.jpeg">
                <img class="Round-img2" src="/images/Round-responsive-image2.jpg">
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522itemsBlock%2520margin2rem%2520Round-image%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522Round-img1%2522%2520src%253D%2522%252Fimages%252FResponsiveImage.jpg%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522Round-img2%2522%2520src%253D%2522%252Fimages%252FRound-responsive-img.jpeg%2522%253E%250A%253C%252Fdiv%253E"
                style="width: 723px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <br>
            <ul class="pagesShift">
                <li><a href="/Components/Card/Card.html"><i class="fa fa-exchange"></i> Card</a></li>
                <li><a href="/Components/Input/Input.html">Input <i class="fa fa-exchange"></i></a></li>
            </ul>
        </div>
    </div>
</body>
</html>