<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Utilities</title>
    <link rel="stylesheet" href="Text-utility.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="nav-body">
        <ul class="list-col-left">
            <li><a class="atribute" href="/">Home</a></li>
            <li><a class="atribute" href="./Components/Avatar/Avatar.html">Documentation</a></li>
            <ul class="list-col-right">
                <li><a class="atribute" href="#"><i class="fa fa-github"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </ul>
    </nav>
    <div class="container">
        <div class="sideBar">
            <h1 class="heading">components</h1>
            <ul class="CompoItems">
                <li class="componentlist"><a href="/Components/Avatar/Avatar.html">Avatar</a></li>
                <li class="componentlist"><a href="/Components/Badge/Badge.html">Badge</a></li>
                <li class="componentlist"><a href="/Components/Alert/Alert.html">Alert</a></li>
                <li class="componentlist"><a href="/Components/buttons/Button.html">Button</a></li>
                <li class="componentlist"><a href="/Components/Card/Card.html">Card</a></li>
                <li class="componentlist"><a href="/Components/Image/image.html">Image</a></li>
                <li class="componentlist"><a href="/Components/Input/Input.html">Input</a></li>
                <li class="componentlist"><a href="/Components/Text-Utility/Text_utility.html">Text Utilities</a></li>
                <li class="componentlist"><a href="/Components/List/List.html">List</a></li>
                <li class="componentlist"><a href="/Components/Navigation/Navigation.html">Navigation</a></li>
                <li class="componentlist"><a href="/Components/Snackbar/Snackbar.html">Snackbar</a></li>
                <li class="componentlist"><a href="/Components/model/model.html">Model</a></li>
                <li class="componentlist"><a href="/Components/slider/slider.html">Slider</a></li>
                <li class="componentlist"><a href="/Components/grid/grid.html">Grid</a></li>
                <li class="componentlist"><a href="/Components/rating/rating.html">Rating</a></li>

            </ul>
        </div>
        <div class="discriptionBar">
            <h1 class="margin2rem">Text Utilities</h1>
            <p class="para1">Text utilities are basically different types and sizes of 
                text that can be use multiple time.
            </p>
            <hr>
            <h3 class="margin2rem">Heading</h3>
            <div class="itemsBlock Text-left margin2rem">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522itemsBlock%2520Text-left%2520%2520margin2rem%2522%253E%250A%2520%2520%2520%2520%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%2520%2520%2520%2520%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%2520%2520%2520%2520%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%2520%2520%2520%2520%253Ch5%253EHeading%25205%253C%252Fh5%253E%250A%2520%2520%2520%2520%253Ch6%253EHeading%25206%253C%252Fh6%253E%250A%253C%252Fdiv%253E"
                style="width: 522px; height: 320px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h3 class="margin2rem">Small text</h3>
            <p class="para1">You can use small text simply apply one of its name</p>
            <div class="itemsBlock Text-left margin2rem">
                <p>Paragraph text</p>
                <small>Small text</small>
                <p class="x-small-text">Extra Small text</p>
                <p class="xx-small-text">Extra extra small text</p>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%253EParagraph%2520text%253C%252Fp%253E%250A%253Csmall%253ESmall%2520text%253C%252Fsmall%253E%250A%253Cp%2520class%253D%2522x-small-text%2522%253EExtra%2520Small%2520text%253C%252Fp%253E%250A%253Cp%2520class"
                style="width: 506px; height: 245px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <br>
            <h3 class="margin2rem">Gray Text</h3>
            <p class="para1">You can make the text in gray by apply the name "Gray"</p>
            <div class="itemsBlock Text-left Gray margin2rem">
                <h1>Gray Text</h1>
                <h2>Gray Text</h2>
                <h3>Gray Text</h3>
                <h4>Gray text</h4>
                <p>Gray Text</p>
                <small>Gray Text</small>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522itemsBlock%2520Text-left%2520Gray%2520margin2rem%2522%253E%250A%2520%2520%2520%2520%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%2520%2520%2520%2520%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%2520%2520%2520%2520%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%2520%2520%2520%2520%253Cp%253EHeading%25205%253C%252Fp%253E%250A%2520%2520%2520%2520%253Csmall%253EHeading%25206%253C%252Fsmall%253E%250A%253C%252Fdiv%253E"
                style="width: 556px; height: 320px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <br>
            <h3 class="margin2rem">Center Text</h3>
            <p class="para1">You can make the text in the Center by apply the name "Center"</p>
            <div class="itemsBlock Text-left Center margin2rem">
                <h1>Center Text</h1>
                <h2>Center Text</h2>
                <h3>Center Text</h3>
                <h4>Center Text</h4>
                <p>Center Text</p>
                <small>Center Text</small>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522itemsBlock%2520Text-left%2520Center%2520margin2rem%2522%253E%250A%2520%2520%2520%2520%253Ch1%253ECenter%2520Text%253C%252Fh1%253E%250A%2520%2520%2520%2520%253Ch2%253ECenter%2520Text%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Ch3%253ECenter%2520Text%253C%252Fh3%253E%250A%2520%2520%2520%2520%253Ch4%253ECenter%2520Text%253C%252Fh4%253E%250A%2520%2520%2520%2520%253Cp%253ECenter%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%253Csmall%253ECenter%2520Text%253C%252Fsmall%253E%250A%253C%252Fdiv%253E"
                style="width: 574px; height: 320px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <br>
            <ul class="pagesShift">
                <li><a href="/Components/Input/Input.html"><i class="fa fa-exchange"></i> Input</a></li>
                <li><a href="/Components/List/List.html">list <i class="fa fa-exchange"></i></a></li>
            </ul>
        </div>
    </div>
</body>
</html>