.primary{
    padding: 1.5rem 3rem;
    margin: 1.5rem;
    background-color: var(--primary-BGcolor);
    color: var(--text-color);
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.Link{
    padding: 1.5rem 3rem;
    margin: 1.5rem;
    background-color: var(--link-BGcolor);
    color: var(--text-color);
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.itemsBlock{
    display: flex;
    flex-wrap: wrap;
}

.cornerRadiousBtn{
    border-radius: 0.5rem;
}

.fullRadiousBtn{
    border-radius: 3rem;
}

.backShadow{
    box-shadow: 5px 5px 5px black;
}

.linkBtn{
    color: var(--text-color);
}


.fullRadiousBtn:hover,
.cornerRadiousBtn:hover,
.normalBtn:hover,
.planeBtn:hover,
.checkBtn:hover,
.downloadBtn:hover,
.plusBtn:hover{
    box-shadow: 5px 5px 5px  var(--Btn-hover-color);
}

.iconsBtn{
    font-size: 30px;
    background-color: var(--iconsBtn);
    padding: 1.5rem;
    border-radius: 2rem;
    margin: 1rem;
}

.heartBtn{
    border: 1px solid var(--heartBtn-Border-color);
    color: var(--heartBtn-color);
}

.heartBtn:hover,.heartBtn:focus{
    background-color: var(--heartBtn-hover-color);
}

.powerBtn{
    border: 1px solid var(--powerBtn-border-color);
    color: var(--powerBtn-color);
}

.powerBtn:hover,.powerBtn:focus{
    background-color:var(--powerBtn-hover-color);
}

.callBtn{
    border: 1px solid var(--callBtn-border-color);
    color: var(--callBtn-color);
}

.callBtn:hover,.callBtn:focus{
    background-color:var(--callBtn-hover-color);
}

.sendBtn{
    border: 1px solid var(--sendBtn-border-color);
    color: var(--sendBtn-color);
}

.sendBtn:hover,.sendBtn:focus{
    background-color:var(--sendBtn-hover-color);
}

.floatingBtn{
    font-size: 25px;
    background-color: var(--floatBtn-color);
    padding: 2rem 2.3rem;
    border-radius: 5rem;
    margin: 1rem;
}

.checkBtn{
    background-color: var(--checkBtn-color);
}

.downloadBtn{
    background-color: var(--downloadBtn-color);
}

.planeBtn{
    background-color: var(--planeBtn-color);
}

.plusBtn{
    background-color: var(--plusBtn-color);
}

.checkBtn:focus,
.downloadBtn:focus,
.planeBtn:focus,
.plusBtn:focus{
    color: var(--Btn-focus-color);
}
