.primary,
.Link{
    padding: 1.5rem 3rem;
    margin: 1.5rem;
    background-color: rgb(24, 130, 252);
    color: white;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.itemsBlock{
    display: flex;
    flex-wrap: wrap;
}

.cornerRadiousBtn{
    border-radius: 0.5rem;
}

.fullRadiousBtn{
    border-radius: 3rem;
}

.backShadow{
    box-shadow: 5px 5px 5px black;
}

.linkBtn{
    color: white;
}

.fullRadiousBtn:active,
.cornerRadiousBtn:active,
.normalBtn:active{
    background-color: rgb(7, 71, 145);
}

.fullRadiousBtn:hover,
.cornerRadiousBtn:hover,
.normalBtn:hover,
.planeBtn:hover,
.checkBtn:hover,
.downloadBtn:hover,
.plusBtn:hover{
    box-shadow: 5px 5px 5px  rgb(133, 133, 133);
}

.iconsBtn{
    font-size: 30px;
    background-color: rgb(231, 222, 210);
    padding: 1.5rem;
    border-radius: 2rem;
    margin: 1rem;
}

.heartBtn{
    border: 1px solid rgb(192, 63, 106);
    color: rgb(165, 3, 57);
}

.heartBtn:hover,.heartBtn:focus{
    background-color: rgb(228, 161, 184);
}

.powerBtn{
    border: 1px solid rgb(192, 57, 64);
    color: rgb(160, 2, 10);
}

.powerBtn:hover,.powerBtn:focus{
    background-color:rgb(233, 148, 151);
}

.callBtn{
    border: 1px solid rgb(81, 223, 81);
    color: rgb(1, 100, 1);
}

.callBtn:hover,.callBtn:focus{
    background-color:rgb(182, 238, 182);
}

.sendBtn{
    border: 1px solid rgb(77, 180, 228);
    color: rgb(2, 91, 133);
}

.sendBtn:hover,.sendBtn:focus{
    background-color:rgb(170, 214, 235);;
}

.floatingBtn{
    font-size: 25px;
    background-color: rgb(231, 222, 210);
    padding: 2rem 2.3rem;
    border-radius: 5rem;
    margin: 1rem;
}

.checkBtn{
    background-color: rgb(236, 31, 31);
}

.downloadBtn{
    background-color: rgb(82, 218, 77);
}

.planeBtn{
    background-color: rgb(68, 185, 194);
}

.plusBtn{
    background-color: rgb(250, 89, 142);
}

.checkBtn:focus,
.downloadBtn:focus,
.planeBtn:focus,
.plusBtn:focus{
    color: rgb(8, 136, 255);
}
