<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="stylesheet" href="Button.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="nav-body">
        <ul class="list-col-left">
            <li><a class="atribute" href="/">Home</a></li>
            <li><a class="atribute" href="/Components/Avatar/Avatar.html">Documentation</a></li>
            <ul class="list-col-right">
                <li><a class="atribute" href="#"><i class="fa fa-github"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </ul>
    </nav>
    <div class="container">
        <div class="sideBar">
            <h1 class="heading">components</h1>
            <ul class="CompoItems">
                <li class="componentlist"><a href="/Components/Avatar/Avatar.html">Avatar</a></li>
                <li class="componentlist"><a href="/Components/Badge/Badge.html">Badge</a></li>
                <li class="componentlist"><a href="/Components/Alert/Alert.html">Alert</a></li>
                <li class="componentlist"><a href="/Components/buttons/Button.html">Button</a></li>
                <li class="componentlist"><a href="/Components/Card/Card.html">Card</a></li>
                <li class="componentlist"><a href="/Components/Image/image.html">Image</a></li>
                <li class="componentlist"><a href="/Components/Input/Input.html">Input</a></li>
                <li class="componentlist"><a href="/Components/Text-Utility/Text_utility.html">Text Utilities</a></li>
                <li class="componentlist"><a href="/Components/List/List.html">List</a></li>
                <li class="componentlist"><a href="/Components/Navigation/Navigation.html">Navigation</a></li>
                <li class="componentlist"><a href="/Components/Snackbar/Snackbar.html">Snackbar</a></li>
            </ul>
        </div>
        <div class="discriptionBar">
            <h2 class="margin2rem">Button</h2>
            <p class="para1">Buttons are a great way to get your visitors interacting with
                 various parts of your blog. FButtons are a great way to get 
                 your visitors interacting with various parts of your blog.
            </p>
            <hr>
            <h3 class="margin2rem">Primary Button</h3>
            <div class="itemsBlock margin2rem">
                <button  class="primary normalBtn">PRIMARY</button>
                <button  class="primary cornerRadiousBtn">PRIMARY</button>
                <button  class="primary fullRadiousBtn">PRIMARY</button>
            </div>
           <br>
           <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520%2520class%253D%2522primary%2520normalBtn%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522primary%2520cornerRadiousBtn%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522primary%2520fullRadiousBtn%2522%253EPrimary%253C%252Fbutton%253E"
                style="width: 639px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
           </iframe>
            <br>
            <p class="para1">You can apply shadow in its background simply adding the 
                name backShadow in its class.
            </p>
            <hr>
            <div class="itemsBlock margin2rem">
                <button  class="primary normalBtn backShadow">PRIMARY</button>
                <button  class="primary cornerRadiousBtn backShadow">PRIMARY</button>
                <button  class="primary fullRadiousBtn backShadow">PRIMARY</button>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520%2520class%253D%2522primary%2520normalBtn%2520backShadow%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522primary%2520cornerRadiousBtn%2520backShadow%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522primary%2520fullRadiousBtn%2520backShadow%2522%253EPrimary%253C%252Fbutton%253E"
                style="width: 732px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
           </iframe>
           <br>
            <h3 class="margin2rem">Link Button</h3>
            <p class="para1">You can use the Link button from here, the 
                button which have link in it. Also you can use background 
                shadow as above button by apply the same name "backShadow".
            </p>
            <div class="itemsBlock margin2rem">
                <button  class="Link normalBtn" ><a class="linkBtn" href="">LINK</a></button>
                <button  class="Link cornerRadiousBtn" ><a class="linkBtn" href="">LINK</a></button>
                <button  class="Link fullRadiousBtn" ><a class="linkBtn" href="">LINK</a></button>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520%2520class%253D%2522Link%2520normalBtn%2522%2520%253E%253Ca%2520href%253D%2522%2522%253ELINK%253C%252Fa%253E%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522Link%2520cornerRadiousBtn%2522%2520%253E%253Ca%2520href%253D%2522%2522%253ELINK%253C%252Fa%253E%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522Link%2520fullRadiousBtn%2522%2520%253E%253Ca%2520href%253D%2522%2522%253ELINK%253C%252Fa%253E%253C%252Fbutton%253E"
                style="width: 723px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h3 class="margin2rem">Icons Button</h3>
            <p class="para1">Some button doesn't need any description they known 
                by there's icons. You also use such button from here.</p>
            <div class="itemsBlock margin2rem">
                <button  class="iconsBtn heartBtn"><i class="fa fa-heart-o"></i></button>
                <button  class="iconsBtn sendBtn"><i class="fa fa-mail-forward"></i></button>
                <button  class="iconsBtn callBtn"><i class="fa fa-phone"></i></button>
                <button  class="iconsBtn powerBtn"><i class="fa fa-power-off"></i></button>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520%2520class%253D%2522iconsBtn%2520heartBtn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-heart-o%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522iconsBtn%2520sendBtn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-mail-forward%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522iconsBtn%2520callBtn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-phone%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522iconsBtn%2520powerBtn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-power-off%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
                style="width: 799px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h3 class="margin2rem">Floating Action Button</h3>
            <p class="para1">A floating action button is a circular or other shaped icon button that 
                hovers over content to promote a primary action in the application. Floating action 
                buttons are most commonly button.</p>
            <div class="itemsBlock margin2rem">
                <button  class="floatingBtn checkBtn"><i class="fa fa-check"></i></button>
                <button  class="floatingBtn downloadBtn"><i class="fa fa-download"></i></i></button>
                <button  class="floatingBtn planeBtn"><i class="fa fa-paper-plane"></i></button>
                <button  class="floatingBtn plusBtn"><i class="fa fa-plus"></i></button>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520%2520class%253D%2522floatingBtn%2520checkBtn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-check%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522floatingBtn%2520downloadBtn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-download%2522%253E%253C%252Fi%253E%253C%252Fi%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522floatingBtn%2520planeBtn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-paper-plane%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%253Cbutton%2520%2520class%253D%2522floatingBtn%2520plusBtn%2522%253E%253Ci%2520class%253D%2522fa%2520fa-plus%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E"
                style="width: 850px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <ul class="pagesShift">
                <li><a href="/Components/Alert/Alert.html"><i class="fa fa-exchange"></i> Alert</a></li>
                <li><a href="/Components/Card/Card.html">Card <i class="fa fa-exchange"></i></a></li>
            </ul>
        </div>
    </div>
</body>
</html>
