<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avtar</title>
    <link rel="stylesheet" href="Avatar.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="nav-body">
        <ul class="list-col-left">
            <li><a class="atribute" href="/">Home</a></li>
            <li><a class="atribute" href="./Components/Avatar/Avatar.html">Documentation</a></li>
            <ul class="list-col-right">
                <li><a class="atribute" href="#"><i class="fa fa-github"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </ul>
    </nav>
    <div class="container">
        <div class="sideBar">
            <h1 class="heading">components</h1>
            <ul class="CompoItems">
                <li class="componentlist"><a href="./Avatar.html">Avatar</a></li>
                <li class="componentlist"><a href="/Components/Badge/Badge.html">Badge</a></li>
                <li class="componentlist"><a href="">Alert</a></li>
                <li class="componentlist"><a href="">Button</a></li>
                <li class="componentlist"><a href="">Card</a></li>
                <li class="componentlist"><a href="">Image</a></li>
                <li class="componentlist"><a href="">Input</a></li>
            </ul>
        </div>
        <div class="discriptionBar">
            <h1 class="margin2rem">Avatar</h1>
            <p class="para1">The use of the term avatar for the on-screen representation of the
                user profile,usually found in circular shapes. Avatars can be used for 'container' objects — projects,
                spaces, repositories, to give them a recognisable visual identity.
            </p>
            <hr>
            <h3 class="margin2rem">Round Avatar</h3>
            <div class="itemsBlock margin2rem">
                <img class="avatar" src="/images/Avatar1.png">
                <img class="avatar" src="/images/Avatar2.png">
                <img class="avatar" src="/images/Avatar3.jpeg">
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%2520%253D%2520%2522avatar%2522%2520src%2520%253D%2520%2522.%252Fimages%252FAvatar-images.jpeg%2522%253E%250A%253Cimg%2520class%2520%253D%2520%2522avatar%2522%2520src%2520%253D%2520%2522.%252Fimages%252FAvatar-images1.jpeg%2522%253E%250A%253Cimg%2520class%2520%253D%2520%2522avatar%2522%2520src%2520%253D%2520%2522.%252Fimages%252FAvatar-images2.jpeg%2522%253E"
                style="width: 648px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h3 class="margin2rem">Sizes Avatar</h3>
            <p class="para1">Size of the avatars can be changed by adding small, mid, large class
                to the existing avatar class.</p>
            <div class="itemsBlock margin2rem">
                <img class="small avatar" src="/images/Avatar1.png">
                <img class="mid avatar" src="/images/Avatar2.png">
                <img class="large avatar" src="/images/Avatar3.jpeg">
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522small%2520avatar%2522%2520src%253D%2522.%252Fimages%252FAvatar-images.jpeg%2522%253E%250A%253Cimg%2520class%253D%2522mid%2520avatar%2522%2520src%253D%2522.%252Fimages%252FAvatar-images1.jpeg%2522%253E%250A%253Cimg%2520class%253D%2522large%2520avatar%2522%2520src%253D%2522.%252Fimages%252FAvatar-images2.jpeg%2522%253E%250A"
                style="width: 664px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <hr>
            <h3 class="margin2rem">Square Avatar</h3>
            <p class="para1">Avatar can shaped in square by simply adding "square" in its class</p>
            <div class="itemsBlock margin2rem">
                <img class="avatar square" src="/images/Avatar1.png">
                <img class="avatar square" src="/images/Avatar2.png">
                <img class="avatar square" src="/images/Avatar3.jpeg">
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2520square%2522%2520src%253D%2522.%252Fimages%252FAvatar-images.jpeg%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520square%2522%2520src%253D%2522.%252Fimages%252FAvatar-images1.jpeg%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520square%2522%2520src%253D%2522.%252Fimages%252FAvatar-images2.jpeg%2522%253E%250A%250A"
                style="width: 673px; height: 279px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <ul class="pagesShift">
                <li><a href="/"><i class="fa fa-exchange"></i> Home</a></li>
                <li><a href="/Components/Badge/Badge.html">Badge <i class="fa fa-exchange"></i></a></li>
            </ul>
        </div>
    </div>
</body>

</html>
