.avatar{
    width: 70px;
    height: 8vh;
    border-radius: 50rem;
    margin: 0.5rem;
    align-self: center;
}
.small{
    width: 60px;
    height: 7vh;
}
.large{
    width: 90px;
    height: 11vh;
}
.square{
    width: 80px;
    height: 10vh;
    border-radius: 0.5rem;
}