<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avtar</title>
    <link rel="stylesheet" href="https://agitated-mirzakhani-e75d2b.netlify.app/style.css">
    <link rel="stylesheet" href="Avatar.css">
    <link rel="stylesheet" href="Components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="nav-body">
        <ul class="list-col-left">
            <li class="typo-h4"><a class="atribute" href="/">Home</a></li> 
            <li class="typo-h4"><a class="atribute" href="./Components/Avatar/Avatar.html">Documentation</a></li> 
            <ul class="list-col-right">
                <li class="typo-h3 font-S-m"><a class="atribute" href="#"><i class="fa fa-github"></i></a></li>
                <li class="typo-h3 font-S-m"><a class="atribute" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="typo-h3 font-S-m"><a class="atribute" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </ul>
    </nav>
    <div class="container">
        <div class="sideBar">
            <h1 class="typo-h2 margin-L-m">components</h1>
            <ul class="CompoItems">
                <li class="typo-h4 margin-T-m margin-L-m"><a href="./Avatar.html">Avatar</a></li>
                <li class="typo-h4 margin-T-m margin-L-m"><a href="">Alert</a></li>
                <li class="typo-h4 margin-T-m margin-L-m"><a href="">Badge</a></li>
                <li class="typo-h4 margin-T-m margin-L-m"><a href="">Button</a></li>
                <li class="typo-h4 margin-T-m margin-L-m"><a href="">Card</a></li>
                <li class="typo-h4 margin-T-m margin-L-m"><a href="">Image</a></li>
                <li class="typo-h4 margin-T-m margin-L-m"><a href="">Input</a></li>
            </ul>
        </div>
        <div class="discriptionBar">
            <h1 class="typo-h3 margin-T-m">Avatar</h1>
            <p class="typo-h4  margin-T-b">The use of the term avatar for the on-screen representation of the 
                user profile,usually found in circular shapes. Avatars can be used for 'container' objects — projects, 
                spaces, repositories,  to give them a recognisable visual identity.
            </p>
            <hr class="margin-T-m">
            <h1 class="typo-h3 margin-T-m">Round Avatar</h1>
            <div class="roundAvatar margin-T-m">
                <img class="avatar" src="./images/Avatar-images.jpeg" >
                <img class="avatar" src="./images/Avatar-images1.jpeg" >
                <img class="avatar" src="./images/Avatar-images2.jpg" >
            </div>
            <code >
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"avatar"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images.jpeg"</span>
                    >
                </div>
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"avatar"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images1.jpeg"</span>
                    >
                </div>
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"avatar"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images2.jpeg"</span>
                    >
                </div>
            </code>
            <hr class="margin-T-m">
            <h1 class="typo-h3 margin-T-m">Sizes Avatar</h1>
            <p class="typo-h4  margin-T-b">Size of the avatars can be changed by adding small, mid, large class 
                to the existing avatar class.</p>
            <div class="roundAvatar margin-T-m">
                <img class="small avatar" src="./images/Avatar-images.jpeg" >
                <img class="mid avatar" src="./images/Avatar-images1.jpeg" >
                <img class="large avatar" src="./images/Avatar-images2.jpg" >
            </div>
            <code>
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"small avatar"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images.jpeg"</span>
                    >
                </div>
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"mid avatar"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images1.jpeg"</span>
                    >
                </div>
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"large avatar"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images2.jpeg"</span>
                    >
                </div>
            </code>
            <hr class="margin-T-m">
            <h1 class="typo-h3 margin-T-m">Square Avatar</h1>
            <p class="typo-h4  margin-T-b">Avatar can shaped in square by simply adding "square" in its class</p>
            <div class="roundAvatar margin-T-m">
                <img class="avatar square" src="./images/Avatar-images.jpeg" >
                <img class="avatar square" src="./images/Avatar-images1.jpeg" >
                <img class="avatar square" src="./images/Avatar-images2.jpg" >
            </div>
            <code >
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"avatar square"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images.jpeg"</span>
                    >
                </div>
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"avatar square"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images1.jpeg"</span>
                    >
                </div>
                <div>
                    <
                    <span>img</span>
                    <span>class</span>
                    =
                    <span>"avatar square"</span>
                    <span>src</span>
                    =
                    <span>"./images/Avatar-images2.jpeg"</span>
                    >
                </div>
            </code>
        </div>  
    </div>
</body>

</html>