.Spaced-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    width: 100%;
    font-size: large;
}

.Stacked-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}


.list-img{
    width: 13%;
    border-radius: 50%;
}


.list-items{
    display: flex;
    align-items: center;
    gap: 2rem;
}


@media screen and (max-width:355px){
    body{
        font-size: 10px;
    }
}