.badges{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 0.5rem;
    align-self: center;
}

.icons{
    font-size: 50px;
}

.badge{
    display: flex;
    position: relative;
    height: 9vh;
}

.onlineBadge{
    position: absolute;
    right: 9%;
    bottom: 9%;
    background-color: var(--onlineBadge-color);
    border-radius: 50%;
    border: 2px solid var(--badge-border-color);
    width: 1.3rem;
    height: 1.3rem;
}

.upOnlineBadge{
    position: absolute;
    right: 13%;
    top: 13%;
    background-color:var(--onlineBadge-color);
    border-radius: 50%;
    border: 2px solid var(--badge-border-color);
    width: 1.3rem;
    height: 1.3rem;
}

.upOfflineBadge{
    position: absolute;
    right: 13%;
    top: 13%;
    background-color: var(--offlineBadge-color);
    border-radius: 50%;
    border: 2px solid var(--badge-border-color);
    width: 1.3rem;
    height: 1.3rem;
}

.offlineBadge{
    position: absolute;
    right: 9%;
    bottom: 9%;
    background-color: var(--offlineBadge-color);
    border-radius: 50%;
    border: 2px solid var(--badge-border-color);
    width: 1.3rem;
    height: 1.3rem;
}

.Badge1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: -8%;
    right: 0%;
    background-color: var(--badge1-BGcolor);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.Badge2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: -8%;
    right: 0%;
    background-color: var(--badge2-BGcolor);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;   
}

.Badge3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: -8%;
    right: 0%;
    background-color: var(--badge3-BGcolor);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;  
}

