.badges{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.avatar{
    width: 70px;
    height: 9vh;
    border-radius: 38rem;
    align-self: center;
}
.icons{
    font-size: 50px;
}
.badge{
    position: relative;
    height: 9vh;
}
.onlineBadge{
    position: absolute;
    right: 3%;
    bottom: 3%;
    background-color: green;
    border-radius: 3rem;
    width: 17%;
    height: 1.5vh;
}
.upOnlineBadge{
    position: absolute;
    right: 3%;
    top: 3%;
    background-color: green;
    border-radius: 3rem;
    width: 17%;
    height: 1.5vh;
}
.upOfflineBadge{
    position: absolute;
    right: 3%;
    top: 3%;
    background-color: red;
    border-radius: 3rem;
    width: 17%;
    height: 1.5vh;
}
.offlineBadge{
    position: absolute;
    right: 3%;
    bottom: 3%;
    background-color: red;
    border-radius: 3rem;
    width: 17%;
    height: 1.5vh;
}
.Badge1{
    text-align: center;
    position: absolute;
    color: white;
    top: 0%;
    right: 0%;
    background-color: blue;
    padding: 0.5rem;
    border-radius: 1rem; 
}
.Badge2{
    text-align: center;
    position: absolute;
    color: white;
    top: 0%;
    right: 0%;
    background-color: green;
    padding: 0.5rem;
    border-radius: 1rem;   
}
.Badge3{
    text-align: center;
    position: absolute;
    color: white;
    top: 0%;
    right: 0%;
    background-color: rgb(0, 238, 255);
    padding: 0.8rem;
    border-radius: 1.5rem; 
    height: 1vh;  
}

