.font-W-m{
	font-weight:400;
}
.font-W-s{
	font-weight:300;
}
.font-W-b{
    font-weight: 500;
}
.font-S-s{
	font-size: 24px;
}
.font-S-m{
	font-size: 35px;
}
.font-S-b{
	font-size: 55px;
}
.margin-B-s {
	margin-bottom: 1.5rem ;
}
.margin-B-m{
	margin-bottom: 4rem ;
}
.margin-B-b{
	margin-bottom: 8rem ;
}
.margin-T-s{
	margin-top: 1.5rem ;
}
.margin-T-m {
	margin-top: 4rem ;
}
.margin-T-b{
    margin-top: 8rem ;
}
.margin-L-s{
	margin-left: 1.5rem ;
}
.margin-L-m {
	margin-left: 4rem ;
}
.margin-L-b{
    margin-left: 8rem ;
}
.margin-R-s{
	margin-right: 1.5rem ;
}
.margin-R-m {
	margin-right: 4rem ;
}
.margin-R-b{
    margin-right: 8rem ;
}
.prime-color-text{
    color:var(--primary-color);
}
.accent-color-text{
    color:var(--accent-color);
}
.gutter-small {
	padding: 2rem;
}