<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snackbar</title>
    <link rel="stylesheet" href="Snackbar.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="nav-body">
        <ul class="list-col-left">
            <li><a class="atribute" href="/">Home</a></li>
            <li><a class="atribute" href="./Components/Avatar/Avatar.html">Documentation</a></li>
            <ul class="list-col-right">
                <li><a class="atribute" href="#"><i class="fa fa-github"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="atribute" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </ul>
    </nav>
    <div class="container">
        <div class="sideBar">
            <h1 class="heading">components</h1>
            <ul class="CompoItems">
                <li class="componentlist"><a href="/Components/Avatar/Avatar.html">Avatar</a></li>
                <li class="componentlist"><a href="/Components/Badge/Badge.html">Badge</a></li>
                <li class="componentlist"><a href="/Components/Alert/Alert.html">Alert</a></li>
                <li class="componentlist"><a href="/Components/buttons/Button.html">Button</a></li>
                <li class="componentlist"><a href="/Components/Card/Card.html">Card</a></li>
                <li class="componentlist"><a href="/Components/Images/image.html">Image</a></li>
                <li class="componentlist"><a href="/Components/Input/Input.html">Input</a></li>
                <li class="componentlist"><a href="/Components/Text Utility/Text-utility.html">Text Utilities</a></li>
                <li class="componentlist"><a href="/Components/List/List.html">List</a></li>
                <li class="componentlist"><a href="/Components/Navigation/Navigation.html">Navigation</a></li>
                <li class="componentlist"><a href="Snackbar.html">Snackbar</a></li>
                <li class="componentlist"><a href="/Components/model/model.html">Model</a></li>
            </ul>
        </div>
        <div class="discriptionBar">
            <h1 class="margin2rem">Snackbar</h1>
            <p class="para1">Snackbar are used to inform about the action of user.</p>
            <hr>
            <div class="itemsBlock  margin2rem">
                <div class="Snackbar">
                    <p>Can't send photo.Retry in Seconds.</p>
                    <button id='optionBtn'>
                        RETRY
                    </button>
                    <button id='escapeBtn'>
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
            <br>
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522Snackbar%2522%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522x-small-text%2522%253ECan%27t%2520send%2520photo.Retry%2520in%2520Seconds.%253C%252Fp%253E%250A%2520%2520%2520%2520%253Cbutton%2520id%253D%27optionBtn%27%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520RETRY%250A%2520%2520%2520%2520%253C%252Fbutton%253E%250A%2520%2520%2520%2520%253Cbutton%2520id%253D%27escapeBtn%27%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fa%2520fa-remove%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                style="width: 707px; height: 353px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <br>
            <h1 class="margin2rem">Example</h1>
            <hr>
            <div class="itemsBlock Live-example margin2rem">
                <div class="Btncontainer">
                    <button id="baselineBtn" class = "Btn">BASELINE</button>
                    <button id="leadingBtn" class = "Btn">LEADING</button>
                    <button id="stackedBtn" class = "Btn">STACKED</button>
                </div>
                <div id="outputMsg"></div>
            </div>
            <br>
            <ul class="pagesShift">
                <li><a href="/Components/Navigation/Navigation.html"><i class="fa fa-exchange"></i> Navigation</a></li>
                <li><a href="/index.html">Home <i class="fa fa-exchange"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>