.alert{
    font-size: large;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-top: 2rem;
    width: 70%;
    border: 2px solid transparent;
}
.itemsBlock{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primary-Alert{
    background-color:var(--primary-alert-BGcolor);
    color: var(--primary-alert-color);
    margin-top: 1rem;
}
.secondary-Alert{
    background-color: var(--secondary-alert-BGcolor);
    color: var(--secondary-alert-color);
}
.success-Alert{
    background-color: var(--success-alert-BGcolor);
    color: var(--success-alert-color);
}
.danger-Alert{
    background-color: var(--danger-alert-BGcolor);
    color: var(--danger-alert-color);
}
.warning-Alert{
    background-color: var(--warning-alert-BGcolor);
    color: var(--warning-alert-color);
    margin-bottom: 1rem;
}